<!DOCTYPE html>
<html>
<head>
    <title>Job Tur - Viagens</title>
</head>
<body>
    <h1>Cadastrar viagem</h1>
    <form action="" method="post">
        <label for="">Sexo</label><br>
        <select name="sexo" id="">
            <option value="Masculino">Masculino</option>
            <option value="Feminino">Feminino</option>
            <option value="Outros">Outros</option>
        </select><br><br>
        <label for="">Nome do passageiro:</label><br>
        <input type="text" name="nome_passageiro"><br><br>
        <label for="">Endereço:</label><br>
        <input type="text" name="endereco"><br><br>
        <label for="">Telefone:</label><br>
        <input type="text" name="telefone"><br><br>
        <label for="">Cidade de partida:</label><br>
        <input type="text" name="cidade_partida"><br><br>
        <label for="">Cidade de destino:</label><br>
        <input type="text" name="cidade_destino"><br><br>
        <label for="">Preço:</label><br>
        <input type="number" name="preco"><br><br>
        
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>